body {
    background-color: #f0f2f5;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Ensure elements stack vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px; /* Adds space between header and form */
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}

.form-group p {
    margin-top: 10px;
    text-align: center;
}

.form-group p a {
    color: #007bff;
}

.form-group p a:hover {
    text-decoration: none;
    color: #0056b3;
}

.form-group p.error {
    color: red;
    margin-top: 10px;
    text-align: center;
}
